---
interface Props {
  src: string;
  alt?: string;
  objectPosition?: string;
}

const { src, alt = '', objectPosition = 'center center' } = Astro.props;
---

<section class="w-full">
  <img
    src={src}
    alt={alt}
    class="w-full h-[40vh] md:h-[60vh] object-cover"
    style={`object-position: ${objectPosition}`}
    loading="lazy"
  />
</section>
